
.search-wrap {
    background-color: #e2f0fb;
    padding: 24px 0;
}

.search-section {
    background-color: #fff;
    border-radius: 16px;
    padding: 24px 36px;
}

.search-section__title {
    font-size: 26px;
    font-weight: 700;
    color: #2c2c2c;
    margin-bottom: 16px;
}

.section-continue, .section-video, .section-today {
    padding: 20px 0;
    max-width: 1230px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-top: 6px;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    color: #2c2c2c;
}