{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>AutoRia Clone</title>

    <link rel="stylesheet"
          href="{% static 'cars/css/style.css' %}">
</head>
<body>

<header class="header">
    <div class="header-inner">

        <div class="logo">
            <a href="/" class="logo-link">
                <span class="auto">auto</span>
                <span class="ria">RIA</span>
            </a>
        </div>

        <nav class="main-nav">
            <a href="#">Вживані авто</a>
            <a href="#">Нові авто</a>
            <a href="#">Все для авто</a>
            <a href="#">GARAGE AUTO.RIA</a>
            <a href="#">Підтримка 24/7</a>
            <a class="auth-btn auth-btn--google auth-btn--full"
           href="{% provider_login_url 'google' %}">
                <span class="auth-icon" aria-hidden="true">G</span>
                <span class="auth-label">Продовжити через Google</span>
            </a>
<!--            <a class="auth-btn auth-btn&#45;&#45;google auth-btn&#45;&#45;full" href="{% provider_login_url 'google' %}">-->
<!--                <span class="auth-icon" aria-hidden="true">G</span>-->
<!--                <span class="auth-label">Продовжити через Google</span>-->
<!--            </a>-->
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}

<script src="{% static 'cars/js/main.js' %}"></script>

</body>
</html>