{% load static %}
<div class="search-wrap">
    <div class="container">
        <section class="search-section">
            <h1 class="search-section__title">Знаємо, бо перевірили</h1>
            <div class="tabs">
                <button class="tab tab--active" onclick="switchTab(this)">Всі</button>
                <button class="tab" onclick="switchTab(this)">Вживані</button>
                <button class="tab" onclick="switchTab(this)">Нові</button>
                <button class="tab" onclick="switchTab(this)">Під пригон</button>
            </div>
            <form class="filters" method="GET" action="{% url 'index' %}">
                <div class="filters__grid">
                    <div class="dropdown" data-dropdown="type">
                        <button class="dropdown__trigger has-label" type="button">
                            <span class="dropdown__label">Тип транспорту</span>
                            <span class="dropdown__value">Легкові</span>
                            <svg class="dropdown__arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
                        </button>
                        <div class="dropdown__panel">
                            <div class="dropdown__list">
                                <label class="dropdown__option"><input type="radio" name="type" value="" class="dropdown__radio"><span>Всі типи транспорту</span></label>
                                <label class="dropdown__option"><input type="radio" name="type" value="passenger" class="dropdown__radio" checked><span>Легкові</span></label>
                                <label class="dropdown__option"><input type="radio" name="type" value="moto" class="dropdown__radio"><span>Мото</span></label>
                                <label class="dropdown__option"><input type="radio" name="type" value="truck" class="dropdown__radio"><span>Вантажівки</span></label>
                                <label class="dropdown__option"><input type="radio" name="type" value="trailer" class="dropdown__radio"><span>Причепи</span></label>
                                <label class="dropdown__option"><input type="radio" name="type" value="special" class="dropdown__radio"><span>Спецтехніка</span></label>
                                <label class="dropdown__option"><input type="radio" name="type" value="agro" class="dropdown__radio"><span>Сільгосптехніка</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" data-dropdown="brand">
                        <button class="dropdown__trigger" type="button">
                            <span class="dropdown__label">Марка, Модель</span>
                            <span class="dropdown__value">Марка, Модель</span>
                            <span class="dropdown__clear" onclick="clearDropdown(event,'brand')">&times;</span>
                            <svg class="dropdown__arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
                        </button>
                        <div class="dropdown__panel">
                            <div class="brand-step brand-step--brands">
                                <h4 class="dropdown__heading">ТОП марки</h4>
                                <div class="dropdown__list">
                                    <label class="dropdown__option"><input type="radio" name="brand_select" value="Toyota" class="dropdown__radio" onchange="selectBrand(this)"><img src="{% static 'images/index/filter_logos/toyota.svg' %}" alt="" class="dropdown__brand-logo" onerror="this.src='{% static 'images/index/filter_logos/default_logo.png' %}'"><span>Toyota</span></label>
                                    <label class="dropdown__option"><input type="radio" name="brand_select" value="BMW" class="dropdown__radio" onchange="selectBrand(this)"><img src="{% static 'images/index/filter_logos/bmw.png' %}" alt="" class="dropdown__brand-logo" onerror="this.src='{% static 'images/index/filter_logos/default_logo.png' %}'"><span>BMW</span></label>
                                    <label class="dropdown__option"><input type="radio" name="brand_select" value="Volkswagen" class="dropdown__radio" onchange="selectBrand(this)"><img src="{% static 'images/index/filter_logos/volkswagen.png' %}" alt="" class="dropdown__brand-logo" onerror="this.src='{% static 'images/index/filter_logos/default_logo.png' %}'"><span>Volkswagen</span></label>
                                    <label class="dropdown__option"><input type="radio" name="brand_select" value="Chevrolet" class="dropdown__radio" onchange="selectBrand(this)"><img src="{% static 'images/index/filter_logos/chevrolet.svg' %}" alt="" class="dropdown__brand-logo" onerror="this.src='{% static 'images/index/filter_logos/default_logo.png' %}'"><span>Chevrolet</span></label>
                                    <label class="dropdown__option"><input type="radio" name="brand_select" value="Hyundai" class="dropdown__radio" onchange="selectBrand(this)"><img src="{% static 'images/index/filter_logos/hyundai.png' %}" alt="" class="dropdown__brand-logo" onerror="this.src='{% static 'images/index/filter_logos/default_logo.png' %}'"><span>Hyundai</span></label>
                                </div>
                            </div>
                            <div class="brand-step brand-step--models" style="display:none">
                                <div class="brand-search">
                                    <div class="brand-search__field">
                                        <span class="brand-search__label">Пошук марки</span>
                                        <span class="brand-search__value"></span>
                                        <span class="brand-search__clear" onclick="resetBrand()">&times;</span>
                                    </div>
                                </div>
                                <h4 class="dropdown__heading">ТОП моделі</h4>
                                <div class="dropdown__list dropdown__list--models"></div>
                                <button type="button" class="dropdown__apply" onclick="applyBrand()">Застосувати</button>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown" data-dropdown="year">
                        <button class="dropdown__trigger" type="button">
                            <span class="dropdown__label">Рік випуску</span>
                            <span class="dropdown__value">Рік випуску</span>
                            <span class="dropdown__clear" onclick="clearDropdown(event,'year')">&times;</span>
                            <svg class="dropdown__arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
                        </button>
                        <div class="dropdown__panel">
                            <div class="year-range">
                                <div class="year-range__col">
                                    <h4 class="dropdown__heading">Від</h4>
                                    <div class="dropdown__list dropdown__list--scroll" id="yearFrom"></div>
                                </div>
                                <div class="year-range__col">
                                    <h4 class="dropdown__heading">До</h4>
                                    <div class="dropdown__list dropdown__list--scroll" id="yearTo"></div>
                                </div>
                            </div>
                            <button type="button" class="dropdown__apply" onclick="applyYear()">Застосувати</button>
                        </div>
                    </div>
                    <div class="dropdown" data-dropdown="price">
                        <button class="dropdown__trigger" type="button">
                            <span class="dropdown__label">Вартість</span>
                            <span class="dropdown__value">Вартість</span>
                            <span class="dropdown__clear" onclick="clearDropdown(event,'price')">&times;</span>
                            <svg class="dropdown__arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
                        </button>
                        <div class="dropdown__panel">
                            <div class="price-inputs">
                                <div class="price-inputs__field price-inputs__field--labeled">
                                    <span class="price-inputs__label">Від</span>
                                    <input type="number" id="priceFrom" class="price-inputs__input" placeholder="Від">
                                </div>
                                <div class="price-inputs__field price-inputs__field--labeled">
                                    <span class="price-inputs__label">До</span>
                                    <input type="number" id="priceTo" class="price-inputs__input" placeholder="До">
                                </div>
                            </div>
                            <div class="currency-tabs">
                                <button type="button" class="currency-tab currency-tab--active" onclick="switchCurrency(this,'$')">$</button>
                                <button type="button" class="currency-tab" onclick="switchCurrency(this,'€')">€</button>
                                <button type="button" class="currency-tab" onclick="switchCurrency(this,'грн.')">грн.</button>
                            </div>
                            <button type="button" class="dropdown__apply" onclick="applyPrice()">Застосувати</button>
                        </div>
                    </div>
                    <div class="dropdown" data-dropdown="region">
                        <button class="dropdown__trigger" type="button">
                            <span class="dropdown__label">Регіон</span>
                            <span class="dropdown__value">Регіон</span>
                            <span class="dropdown__clear" onclick="clearDropdown(event,'region')">&times;</span>
                            <svg class="dropdown__arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
                        </button>
                        <div class="dropdown__panel">
                            <div class="dropdown__list dropdown__list--scroll">
                                <h4 class="dropdown__heading">Північ</h4>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="kyiv" class="dropdown__checkbox"><span>Київська обл.</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="zhytomyr" class="dropdown__checkbox"><span>Житомирська обл.</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="sumy" class="dropdown__checkbox"><span>Сумська обл.</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="chernihiv" class="dropdown__checkbox"><span>Чернігівська обл.</span></label>
                                <h4 class="dropdown__heading">Центр</h4>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="vinnytsia" class="dropdown__checkbox"><span>Вінницька обл.</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="poltava" class="dropdown__checkbox"><span>Полтавська обл.</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="cherkasy" class="dropdown__checkbox"><span>Черкаська обл.</span></label>
                                <h4 class="dropdown__heading">Захід</h4>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="lviv" class="dropdown__checkbox"><span>Львівська обл.</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="ivano" class="dropdown__checkbox"><span>Івано-Франківська обл.</span></label>
                                <h4 class="dropdown__heading">Південь</h4>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="odesa" class="dropdown__checkbox"><span>Одеська обл.</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="region" value="kherson" class="dropdown__checkbox"><span>Херсонська обл.</span></label>
                            </div>
                            <button type="button" class="dropdown__apply" onclick="applyCheckbox('region')">Застосувати</button>
                        </div>
                    </div>
                    <div class="dropdown" data-dropdown="fuel">
                        <button class="dropdown__trigger" type="button">
                            <span class="dropdown__label">Пальне</span>
                            <span class="dropdown__value">Пальне</span>
                            <span class="dropdown__clear" onclick="clearDropdown(event,'fuel')">&times;</span>
                            <svg class="dropdown__arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
                        </button>
                        <div class="dropdown__panel">
                            <div class="dropdown__list">
                                <label class="dropdown__option"><input type="checkbox" name="fuel" value="gasoline" class="dropdown__checkbox"><span>Бензин</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="fuel" value="diesel" class="dropdown__checkbox"><span>Дизель</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="fuel" value="gas" class="dropdown__checkbox"><span>Газ</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="fuel" value="electric" class="dropdown__checkbox"><span>Електро</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="fuel" value="hybrid" class="dropdown__checkbox"><span>Гібрид</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="fuel" value="gas_gasoline" class="dropdown__checkbox"><span>Газ пропан-бутан / Бензин</span></label>
                            </div>
                            <button type="button" class="dropdown__apply" onclick="applyCheckbox('fuel')">Застосувати</button>
                        </div>
                    </div>
                    <div class="dropdown" data-dropdown="transmission">
                        <button class="dropdown__trigger" type="button">
                            <span class="dropdown__label">Коробка передач</span>
                            <span class="dropdown__value">Коробка передач</span>
                            <span class="dropdown__clear" onclick="clearDropdown(event,'transmission')">&times;</span>
                            <svg class="dropdown__arrow" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="#aaa" stroke-width="2.5"><polyline points="6 9 12 15 18 9"/></svg>
                        </button>
                        <div class="dropdown__panel">
                            <div class="dropdown__list">
                                <label class="dropdown__option"><input type="checkbox" name="transmission" value="manual" class="dropdown__checkbox"><span>Ручна / Механіка</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="transmission" value="auto" class="dropdown__checkbox"><span>Автомат</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="transmission" value="tiptronic" class="dropdown__checkbox"><span>Типтронік</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="transmission" value="robot" class="dropdown__checkbox"><span>Робот</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="transmission" value="variator" class="dropdown__checkbox"><span>Варіатор</span></label>
                                <label class="dropdown__option"><input type="checkbox" name="transmission" value="reductor" class="dropdown__checkbox"><span>Редуктор</span></label>
                            </div>
                            <button type="button" class="dropdown__apply" onclick="applyCheckbox('transmission')">Застосувати</button>
                        </div>
                    </div>
                </div>
                <div class="filters__actions">
                    <button type="submit" class="btn-search">Шукати</button>
                    <button type="button" class="btn-advanced">Розширений пошук</button>
                </div>
            </form>
        </section>
    </div>
</div>