{% extends 'base.html' %}
{% load static %}

{% block title %}AutoRia — Продаж автомобілів{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/carousels.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/recommendations.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/transport_types.css' %}">
{% endblock %}

{% block content %}
    {% include 'index/_filter.html' %}
    {% include 'index/_carousels.html' %}
    {% include 'index/_recommendations.html' %}
    {% include 'index/_transport_types.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/index/filter.js' %}"></script>
    <script src="{% static 'js/index/carousels.js' %}"></script>
    <script src="{% static 'js/index/recommendations.js' %}"></script>
    <script src="{% static 'js/index/transport_types.js' %}"></script>
{% endblock %}