{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoRia{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/footer.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% block header %}
        {% include 'components/_header_default.html' %}
    {% endblock %}

    <main class="main">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'components/_footer_default.html' %}
    {% endblock %}

    {% block extra_js %}{% endblock %}

</body>
</html>